{% extends 'layout.html' %}

{% block body %}
    <h1>Welcome to {{ app_data['name'] }}</h1>

    <p class="lead">
        Here you can start a new practice session. Please select a topic you'd like to discuss:
    </p>
    <h4>Available Topics:</h4>
    <div class="row justify-content-center p-3">
        <!-- topics as cards/buttons -->
        <div class="col-3">
            <a href="" class="btn btn-outline-secondary p-3" style="height: 100%"
            onclick="this.href='/chat/climate-change'">
                <h5 class="card-title">Climate Change</h5>
                <p class="card-text">Talk about the latest topics regarding the climate crisis.</p>
            </a>
        </div>
        <div class="col-3">
            <a href="" class="btn btn-outline-secondary p-3" style="height: 100%"
            onclick="this.href='/chat/topic-2'">
                <h5 class="card-title">Sustainable Development</h5>
                <p class="card-text">Lorem ipsum bla bla bla</p>
            </a>
        </div>
        <div class="col-3">
            <a href="" class="btn btn-outline-secondary p-3" style="height: 100%"
            onclick="this.href='/chat/food'">
                <h5 class="card-title">Food</h5>
                <p class="card-text">Yum yum fooood</p>
            </a>
        </div>
    </div>
{% endblock %}
