{% extends 'layout.html' %}

{% block body %}
    <h1>Welcome to Chat.</h1>

    <p class="lead">
        Here you can start a new practice session.
    </p>

    <div id="chatbox" class="jumbotron rounded-3">
        // TODO: chatbox
    </div>
    <form class="row">
        <div class="col-auto">
            <label for="user_answer" class="form-label">Text input:</label>
        </div>
        <div class="col">
            <input type="text" class="form-control" id="user_answer" placeholder="Type your response here.">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Send</button>
        </div>
    </form>
{% endblock %}
