{% extends 'layout.html' %}

{% block body %}
    <h1>Welcome to your chat!</h1>

    <p class="lead">
        This is your new practice session in {{ app_data['language'] }}. Your topic of conversation is {{ app_data['topic'] }}.
    </p>

    <div id="chatbox" class="jumbotron rounded-3">
        // TODO: chatbox
    </div>
    <form class="row">
        <div class="col-auto">
            <label for="user_answer" class="form-label">Text input:</label>
        </div>
        <div class="col">
            <input type="text" class="form-control" id="user_answer" placeholder="Type your response here.">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Send</button>
        </div>
    </form>
    <div id="recording-stuff">
        <button id="recordButton">Record</button>
        <button id="pauseButton" disabled>Pause</button>
        <button id="stopButton" disabled>Stop</button>
        <ol id="recordingsList"></ol>
        <script src="scripts/recorder.js"></script>
        <script src="scripts/app.js"></script>
    </div>
{% endblock %}

