{% extends 'layout.html' %}

{% block body %}
<div class="pb-5">
  <div class="row">
    <img src="../scripts/logo.png" width="200" alt="" class="mx-2 col-2 justify-content-left ">
    <h1 class="display-3 col align-text-bottom">{{ app_data['name'] }}</h1>
    
  </div>
  
  <br>
  <h1>Bringing the power of conversation to your hands</h1>
  <br>
  <p class="lead">
    Build the confidence to speak about those important conversation topics with {{ app_data['name'] }}. 
  </p>
  <p class="lead">
    Through our interactive chatbot chat, we help you have discussions about impactful topics: climate change, politics, sustainability... 
    You name it, we've got it covered. 
    So chat, learn and build up your confidence, to get the experience of a native speaker and be able to discuss those topics
  that can help you make a positive change in the world around you.
  </p>
  <p class="lead">
    What are you waiting for? Let's get started ;)
  </p>
  <br>
  <a class="btn btn-primary btn-lg" href="/chat-topics" role="button">Let's Chat!</a>
</div>
{% endblock %}
